# .gitignore for RNA-seq analysis project

# Raw sequencing data
data/raw/
data/reference/
data/star_index/
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Alignments
*.bam
*.bai
*.sam
*.cram
SRR*

# Count files
data/counts/featurecounts/featurecounts_gene_counts.txt
data/counts/featurecounts/featurecounts_gene_counts.txt.summary

# Large intermediate files
*.rds
*.RData

# Output directories
results/
work/
.cache/

# Ignore Windows metadata
*.Zone.Identifier

# Ignore raw SRA directories
SRR*/

# Ignore XML/PNG pathway files dumped during debugging
*.xml
hsa*.png

# Logs and temporary files
Log.progress.out
*.log
*.tmp
*.swp
.DS_Store

# Nextflow / nf-core 
.nextflow*
*.command.run
*.command.err
*.command.out

# RStudio files
.Rproj.user/

# Informational text files
analysis/01_deseq/*.txt

# Sync count matrix file downloaded from GEO 
!data/raw/*.txt
